<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064399863768-pff7jai6m8pv8epf1jbm5it9j6c5h24g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064399863768-pff7jai6m8pv8epf1jbm5it9j6c5h24g</string>
	<key>API_KEY</key>
	<string>AIzaSyCMB_wkByFJhSBEmKloKLLQapXtg0Zy1xE</string>
	<key>GCM_SENDER_ID</key>
	<string>1064399863768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.parkio</string>
	<key>PROJECT_ID</key>
	<string>app-parkio</string>
	<key>STORAGE_BUCKET</key>
	<string>app-parkio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064399863768:ios:74a414bbc8d95f24e83cad</string>
</dict>
</plist>